body 					{ background: #e8e8e8 url("../img/background.png") center top; background-size: cover; margin:0; padding:0; }
div#canvas_container	{ position:relative; width:320px; height:480px; margin:30px auto; }
canvas					{ position:absolute; left:0; top:0; width:320px; height:480px; }
canvas#background		{ z-index:1; }
canvas#canvas			{ z-index:2; }
canvas#explosion		{ z-index:3; }
canvas#score			{ z-index:4; }
canvas#popup			{ z-index:5; }
